.grid-container{
display: grid;
grid-template-columns: auto auto 200px;
/* grid-column-gap: 50px;
grid-row-gap: 75px; */
grid-gap: 75px 50px; /* first one is for row, second one is for column*/
background-color: blue;
padding: 10px;
}

.grid-container>div{
    border: 1px solid black;
    background-color: lightblue;
    font-size: 40px;
    text-align: center;
}

.grid-container>div:nth-child(1){
    background-color: hotpink;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}