* {
    box-sizing: border-box;
    float: left;
}
body{
    margin: 0;
}
.nav{
    background-color: brown;
    min-height: 100vh;
    min-width: 10vw;
}
.header{
    background-color: bisque;
    min-height: 20vh;
    min-width: 90vw;
}
.article{
    background-color: green;
    min-height: 60vh;
    min-width: 90vw;
}
.footer{
    background-color: bisque;
    min-height: 20vh;
    min-width: 90vw;
}