* {
    box-sizing: border-box;
}

body{
    height: 100vh;
    margin: 0;
}
.flexContainer {
    display: flex;
    background-color: black;
    
}

.main1 {
    flex: 1;
    background-color: aqua;
    height: 100vh;
    /* height: 600px; */
    /* margin: 5px; */
}

.main2 {
    flex: 4;
    background-color: bisque;
    /* height: 600px; */
    /* margin: 5px; */
    flex-direction: column; /* this is very important because main2 is a column */
    display: flex;
}

.main2>.header {
    background-color: green;
    /* height: 100px; */
    max-height: 20vh;
    flex: 1;
    
}
.main2>.content {
    background-color: white;
    height: 100vh;
    flex: 3;
    display: flex;
    flex-direction: row; /* this is different from main2 because this has 2 divs inside 
    it and these has to be row*/
}
.main2>.footer {
    background-color: green;
    flex: 1;
    /* height: 100px; */
    max-height: 20vh;       
}

.content>.article {
    background-color: coral;
    flex: 3;
}
.content>.aside {
    background-color: cornflowerblue;
    flex: 1; 
}
