.container {
    display: flex;
    background-color: aquamarine;
    width: 400px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container>div {
    width: 100px;
    height: 100px;
    margin: 10px;
    text-align: center;
    font-size: 50px;

}