body div:last-of-type{
    color: greenyellow;
}

/* same thing with another method */

p+div{
    color: black !important;
}

div{
    color: blue;
}

a[target]{
    color: lightcoral;
    font-weight: bold;
}

p::after{
    content: ' i am added by CSS';
    color: blueviolet;
    font-weight: bold;
}

article:only-child{
    color: brown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

input:focus{
    border: 1px solid red;
    box-shadow: 5px 5px 3px solid blue;
}