input, select{
    width: 150px;
    height: 50px;
    background-color: lightblue;
    margin: 10px;
    border-radius: 7px;
}

#result{
    width: 250px;
    height: 25px;
    background-color: lightgreen;
    margin: 10px;
    border-radius: 7px;
    overflow: hidden;
}