body {
    margin: 0;
}

.header {
    background-color: black;
    color: white;
    padding: 5px;
    display: grid;
    grid-template-columns: 70% 30%;
}

.title>h1 {
    padding-left: 10%;
}

.nav ul {
    padding-left: 10%;
    display: inline-flex;
    align-content: flex-end;

}


.nav ul li {
    margin: 5px;
    list-style-type: none;
}

.content {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    background-color: lightgrey;
}

.content>div:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 4;
}

.content>div>article {
    background-color: white;
    padding: 5px;
    margin: 5px;
}

.footer {
    color: white;
    background-color: black;
    padding: 10px;
}

.footer>p {
    padding-left: 10%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .news {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 4;
        margin: 0;
        padding-bottom: 5%;
        background-color: lightgrey;
    }
    .header {
        background-color: black;
        color: white;
        margin: 0;
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        text-align: center;
    }
    .content>div>h1 {
        margin: 0;
        text-align: center;
        justify-content: center;
    }
    .content>div>article {
        background-color: white;
        padding: 5px;
        margin: 0;
        text-align: center;

    }
    .footer>p {
        justify-content: center;
        text-align: center
    }
}