html{
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
}

#container {
    display: grid;
    grid-template: auto / 30vw 70vw;
    grid-gap: 0.5rem;
    background-color: white;
    padding: 0.5rem;
}

#container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 1rem 0;
    font-size: 3rem;
}

.images {
    width: 10rem;
    height: 10rem;
    border: 0.1rem solid black;
    margin: auto 0.5rem;
}

#img-container {
    width: 55rem;
    margin: 2.5rem auto;
    position: relative;
}

#img-container img {
    filter: grayscale(100%);
    transition: 1s;
}

#img-container img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}

.pagination > a {
    color: black;
    float: left;
    padding: 1rem 0.7rem;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination > a.active {
    background-color: dodgerblue;
    color: white;
}

.pagination > a:hover:not(.active) {
    background-color: #ddd;
}